

.list-tree {
  list-style-type:none;
  background: #212221;
}

.list-item {
  height: 22px;
  line-height: 22px;
  cursor: default;
  padding-right: 5px;
  color: white;
  white-space:nowrap;
  text-overflow:ellipsis;
  -ms-text-overflow: ellipsis;
  box-sizing: border-box;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
}

.list-item:hover {
  background: rgb(51, 53, 51);
}

.list-item-single-selected {
  background: rgb(121, 137, 209);
}
.list-item-single-selected:hover {
  background: rgb(121, 137, 209);
}
.list-item-opend {
  background: rgb(99, 104, 121);
}
.list-item-opend:hover {
  background: rgb(99, 104, 121);
}

.list-item-expand-area {
  width: 16px;
  height: 100%;
  padding-left: 2px;
  float: left;
}

.list-item-expand {
  width: 0px;
  height: 0px;
  border-width: 4px;
  margin: 7px 0px 2px 0px;
  border-style:solid dashed dashed dashed;
  border-color: transparent transparent transparent white;
  float: left;
}

.list-item-unexpand {
  width: 0px;
  height: 0px;
  border-width: 3px;
  margin: 7px 0px 2px 0px;
  border-style:solid dashed dashed dashed;
  border-color: transparent white white transparent;
  float: left;
}

.list-item-icon {
  padding: 2px 9px 0px 0px;
  float: left;
}

.node-name {

}

.node-description {
  margin-left: 8px;
  line-height: 22px;
  color: rgb(196, 194, 194);
  font-size: 11px;
}
